html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  background-color: darksalmon;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem 0;
}

.container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-auto-rows: 250px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.root {
  padding-bottom: 5rem;
}
.root li {
  border: 1px dashed black;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

h2 {
  font-size: 1.8rem;
  margin: 2rem 0;
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

button {
  font-size: 1rem;
  font-weight: 500;
  background-color: black;
  border-radius: 1000px;
  color: #fff;
  border: 1px solid black;
  cursor: pointer;
  padding: 0.4rem 1rem;
  margin: 0 auto;
  display: block;
}

.visible {
  display: block !important;
}

main {
  position: relative;
}

.modal {
  position: absolute;
  z-index: 9;
  top: -20px;
  left: 100px;
  right: 100px;
  bottom: 50px;
  border-radius: 20px;
  display: none;
  overflow: auto;
  background-color: rgb(188, 44, 207);
}
.modal li {
  background-color: rgb(243, 181, 158);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}
.modal span {
  position: absolute;
  right: 50px;
  top: 30px;
}
.modal h2 {
  margin-top: 5rem;
  font-weight: 700;
}
.modal h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

.close {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.close:hover {
  color: wheat;
}

.loading {
  border: 5px solid rgba(0, 0, 0, 0.219);
  border-top: 6px solid black;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 auto;
  display: none;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */